<nav>
<ul>
<li><a href="/">Home</a></li>
<li><%= link_to "New Picture", "/pictures/new" %></li>
</ul>
</nav>


<h2>Photo Album</h2>


<section class="album">
<% @pictures.each do |picture| %>
  <article class="picwrapper">
  <div class="caption"><%= picture.title %>, <%= picture.artist %></div>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>

  </article>
<% end %>
</section>