// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.album img {
  max-width:275px;
  max-height:225px;
}

div.album div.picwrapper div.caption {
position:absolute;
top:0px;
background-color:#fff;
height:2em; /*height 2em to allow for two-line captions*/
width:100%;
text-align:center;
}

div.picwrapper {
  width:275px;
  height:225px;
  float:left;
  margin:10px 12px;
  position:relative;

}