* {
  box-sizing: border-box;
  color: #242424;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #CECECE;
}

.wrapper {
  width: 960px;
  background-color: #fff;
  margin: 0px auto;
  padding: 30px;
  height: 100%;
}

h1 {
  font-size: 7em;
  margin-bottom: 0.5em;
  font-family: 'Permanent Marker', cursive;
  color: #F9760A;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
  font-weight: 300;
}

h1 a {
  color: #F9760A;
  text-decoration: none;
}

.showpic .caption {
  margin-top: 1em;
  width: 100%;
}
