* {
  box-sizing: border-box;
  font-family: 'Droid Serif', serif;
  color:#242424;
}

html, body{
  height:100%;
}

body {
background-color:#A8A8A8;
}
.wrapper {
  width:960px;
  background-color:#fff;
  margin:0px auto;
  padding:30px;
  height:100%;
}

h1 {
  font-size:8em;
  margin-bottom:20px;

}